.logo-text{
    font-family:var(--logo-text);
}

.header-text{
    font-family: var(--text-1);
    letter-spacing: 2px;
}
/* 
.logo-text {
  font-family: "Poppins", sans-serif;
}

.header-text {
  font-family: "Poppins", sans-serif;
} */
