.logo-text{
   font-family: "Dancing Script", cursive;
}

.header-text{
    font-family: var(--text-1);
    letter-spacing: 2px;
}


/* 

.logo-text {
  font-family: "Poppins", sans-serif;
}

.header-text {
  font-family: "Poppins", sans-serif;
} */
