.studio-header{
    background-color: blue;
}

/* Custom Scrollbar Styling */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff7a18, #ff4800);
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #ff8c34, #ff5d1f);
}

/* For Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #ff5d1f rgba(255, 255, 255, 0.1);
}
